/*Media query 320px e 480px alla fine*/
*{
	box-sizing: border-box;
}

html, body{
	max-width: 600px;
}

body{
	border: none
}

header h1{
	font-size: 3em;
}

/* MENU' HAMBURGER */
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
.hamburger {
	display: none;
}
.hamburger:before {
	display: block;
	position: relative;
	vertical-align: bottom;
	text-align: right;
	content: "\00a0\2261\00a0";
	font-family: sans-serif;
	font-size: 2.5em;
	background-color: #a2ffff;
}
.menu-toggle {
	display: none;
}

.hamburger {
	display: block;
}
input[type="checkbox"].menu-toggle ~ nav {
	display: none;
}
input[type="checkbox"].menu-toggle:checked ~ nav {
	display: flex;
}

#menu{
	flex-direction: column;
}
#menu li{
		width: 100%;
}

/* HOME */
#novita{
	display: block;
}

#offerte, #news{
	max-width: 600px;
	min-width: 100px;	
}

#presentazione #imgHome, #curiosita #imgCristallo, #noleggio #imgNoleggio, #scuola #imgMaestri{
	float: none;
	width: 75%;
	margin: auto;
	margin-left: 12%;
}

/* TARIFFE, MAPPA */ 
#listino{
	width: 80%;
}

#legenda {
	display:block;
	margin: 1.5em;
	font-size: 0.9em;
}

#listino tbody tr:nth-child(odd), #red-table tbody tr:nth-child(odd), 
#risalita tbody tr:nth-child(odd), #servizi tbody tr:nth-child(odd){
	background: none;
}

#listino thead, #listino #table-header, #listino td:empty,
#risalita thead, 
#servizi thead {
	display:none;
}

#listino tr, #listino th, #listino td,
#risalita tr, #risalita th, #risalita td,
#servizi tr, #servizi th, #servizi td{
	display: block;
	padding: 0.5em;
	white-space: normal;
}

#listino th[data-title]:before, #listino td[data-title]:before,
#risalita th[data-title]:before,#risalita td[data-title]:before,
#servizi th[data-title]:before, #servizi td[data-title]:before  
{
	content:
	attr(data-title) ":\00A0";
	font-weight: bold;
}

#listino th, #servizi th, #risalita th{
	background-color: #a2ffff;
}

#risalita td img, #servizi td img{
	width: 10%;
} 

#servizi{
	margin-top: 5em;
} 

.icone{
	text-align: left;
}


/* RECENSIONI */
#writeAComment{
	padding: 2em;
}

#writeACommentHidden{
	display: none;
}

.comments{	
    width: 90%;
}

/* REGISTER e PROFILO*/
#registerBox, #personalAreaBox {
	padding: 1em;
	width: 90%;
}


/* FOOTER */
footer{
	background-image: none;
	background-color: #a2ffff;
}

footer .imgValidCode{
	width: 20%;
	background-color: #a2ffff;
}

#img404{
	width: 75%;
	padding: 1em;
}


/*MEDIA QUERY*/
@media screen and (max-width: 480px) {
	#listino{
		width: 90%;
	}

	#img404{
		width: 95%;
		padding: 1em;
	}
}

@media screen and (max-width: 320px) { /*telefoni in modalità portrait*/
	#presentazione #imgHome, #curiosita #imgCristallo, #noleggio #imgNoleggio, #scuola #imgMaestri{
		width: 95%;
		margin: 0em;
		padding: 0.5em;
	}

	.liste_eventi dd{
		padding-left: 0em;
	}

	header h1{
		font-size: 2.5em;
	}

	#loginBox{
		width: 90%;
		min-width:200px;
	}
}


